<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Find team fixtures</title>
</head>
<body>


<form class="form-tab" action="/fixtures/filter/result" method="GET">
  <label for="team">Team:</label>
  <select id="team" name="id">
    <% for team in @teams %>
      <option value="<%= team.id %>">
          <%=  team.name %>
      </option>
    <% end %>
  </select>

<input type='submit' value="Find fixtures"/>

</form>

</body>
</html>
