<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Team Management</title>
</head>
<body>

  <ul>
    <% for fixture in @fixtures %>
    <li>
      <p> <%= fixture.home_team_id %> v <%= fixture.away_team_id %> </p>
        <p>
          <form action="/teams/<%= fixture.id %>/delete" method="POST">
            <input type="submit" value="delete"></form>
          <form action="/teams/<%= fixture.id %>/edit" method="GET">
            <input type="submit" value="edit"></form>
        </p>
    </li>
    <% end %>
  </ul>


</body>
</html>
