<body>

<div class="row">
  <div class="column left" style="background-color:#FFFFFF;">
    <h2>Manchester City becomes the 2019 Premier League champions!</h2>
    <img src="/images/2019_winner.jpg" alt="2019_winner" style="width:1000px;height:600px;">
  </div>
  <div class="column right" style="background-color:#FFFFFF;">
    <h2>Social Media</h2>
    <img class="test" src="/images/fb_logo.webp" alt="fb_logo" style="width:15px;height:15px;">
    <p>Follow us on Facebook</p>
    <img class="test" src="/images/ig_logo.webp" alt="fb_logo" style="width:15px;height:15px;">
    <p>Follow us on Instagram</p>
    <img class="test" src="/images/tw_logo.webp" alt="fb_logo" style="width:15px;height:15px;">
    <p>Follow us on Twitter</p>
  </div>
</div>

</body>
