<!DOCTYPE html>
<html lang="en">
<head>
  <title>Premier League</title>
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
</head>
<body>
  <nav>
    <ul class="layout-ul">
      <li class="layout-li">
        <a class="layout-li-a" href="/table">League Table</a>
      </li>
      <li class="layout-li">
        <a class="layout-li-a" href="/fixtures">Fixtures</a>
      </li>
      <li class="layout-li">
        <a class="layout-li-a" href="/teams">Teams</a>
      </li>
      <li class="layout-li">
        <a class="layout-li-a" href="/stats">Stats</a>
      </li>
      <li class="layout-li">
        <a class="layout-li-a" href="/results">Results</a></li>
    </ul>
  </nav>
</body>
<main>
  <%= yield %>
</main>
</html>
