<!DOCTYPE html>
<html lang="en">
<head>
  <title>Homepage</title>
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
</head>
<body>
  <%= yield %>
</body>
<main>
  <nav>
    <ul>
      <li>
        <a href="/table">League Table</a>
      </li>
      <li>
        <a href="/fixtures">Fixtures</a>
      </li>
      <li>
        <a href="/edit">Edit</a>
      </li>
      <li>
        <a href="/stats">Stats</a>
      </li>
    </ul>
  </nav>
</main>
</html>
