<!DOCTYPE html>
<html lang="en">
<head>
  <title>Premier League</title>
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
</head>
<body>
  <nav>

    <div class="navbar">
      <a href="/">Homepage</a>
      <a href="/table">League Table</a>
      <div class="dropdown">
        <button class="dropbtn">Teams
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/teams/all">All teams</a>
          <a href="/teams/new">Create a new team</a>
          <a href="/teams">Edit teams</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Fixtures
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/fixtures/all">All fixtures</a>
          <a href="/fixtures/filter">Find fixtures by team</a>
          <a href="/fixtures/new">Create a new fixture</a>
          <a href="/fixtures">Edit fixtures</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Results
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/results/all">All results</a>
          <a href="/results/filter">Find results by team</a>
          <a href="/results/new">Create a new result</a>
          <a href="/results">Edit results</a>
        </div>
      </div>

    </div>
  </nav>
</body>
<main>
  <%= yield %>
</main>

<footer>
  <p>© Oscar Tsang 2020</p>
</footer>

</html>
