<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Team</title>
</head>
<body>

  <% for team in @teams %>
  <ul>
    <li>
      <p> <%= team.name %> </p>
    </li>
  </ul>
  <% end %>

</body>
</html>
