<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Team Management</title>
</head>
<body>

<h2>&emsp; Teams</h2>
  <ul>
    <% for team in @teams %>
    <li>
      <p> <%= team.name %> </p>
          <form class="layout-li" action="/teams/<%= team.id %>/delete" method="POST">
            <input type="submit" value="delete"></form>
          <form class="layout-li" action="/teams/<%= team.id %>/edit" method="GET">
            <input type="submit" value="edit"></form>
            <br> <br>
    </li>
    <% end %>
  </ul>


</body>
</html>
