<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Team Fixtures</title>
</head>
<body>

  <ul>
    <% for fixture in @fixtures %>
    <li>
      <p> <%= Fixture.home_team(fixture).name %> v <%= Fixture.away_team(fixture).name %>
      [<%= fixture.result_indicator(@id) %>]</p>
    </li>
      <% end %>
      <% if fixture == nil %>
      <p>No completed games</p>
      <% end %>
  </ul>


</body>
</html>
