body {
  background: white;
  background-size: 100%;
  font-family: Lucida Console, Courier, monospace;
}

footer {
  background: #F5F5F5;
  background-size: 100%;
  font-family: Lucida Console, Courier, monospace
}

h2 {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 40px;
}

.column {
  float: left;
  padding: 10px;
  border-right: 1px solid grey;
  height: 700px;
}

.left {
  width: 75%;
}

.right {
  width: 22%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

ul {
  list-style-type: none;
}

th {
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: 1px solid #ddd;
}

.left-align {
  text-align: left;
}

td {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: 1px solid #ddd;
}

.table-padding {
  padding-left: 50px;
}

.table-heading-padding {
  padding-left: 415px;
  padding-bottom: 20px;
}

.layout-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #663399;
  /* position: fixed;
  top: 0;
  width: 100%; */
}

.layout-li {
  float: left;
}

.layout-li-a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.layout-li-a:hover {
  background-color: #708090;
}

.league-table-padding {
  border-collapse: collapse;
}

.navbar {
  overflow: hidden;
  background-color: #663399;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #592d86;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.test {
  float: left;
  padding-right: 3px;
}

.form-tab {
  padding-top: 10px;
  padding-left: 10px;
}
