body {
  background: white url('/images/background.jpg');
  background-size: 100%;
}

ul {
  list-style-type: none;
}

.layout-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.layout-li {
  float: left;
}

.layout-li-a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.layout-li-a:hover {
  background-color: #111;
